<!-- Sidebar -->
<div class="container">
  <div class="row">
    <nav class="col-xs-4" id="sidebar">
      <button class="btn btn-default" ng-click="clearForm()">
        New Note
      </button>
      <ul id = "notes">
        <li ng-repeat="note in notes | orderBy: '-update_at' track by $index " ng-click="editNote(note)"> <!--note is just the name to each thing inside of notes -->
          <div class="note-title">{{note.title}}</div>
          <div class="note-body">{{note.body_text}}</div>
        </li>
      </ul>
    </nav>
    <main class="col-xs-8" ui-view></main>
  </div>
</div>
